/* Global Styles */

body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	font-weight: 400;
	font-size: 14px;
	color: var(--main-font-color);
	background-color: var(--main-light-color);
}
